*{
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #e00606;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin :    8px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#search-bar {
    margin: 20px 0;
    text-align: center;
}

#search-bar input[type="text"] {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    border-radius: 4px;
}

#search-bar button {
    padding: 10px 20px;
    background-color: #ec0a0a;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#artworks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
}

.artwork-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.artwork-card h2 {
    margin-top: 0;
}

.artwork-card p {
    margin: 5px 0;
}

/* Cart Styles */
#shopping-cart {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item:last-child {
    border-bottom: none;
}

/* Login / Sign Up Styles */
#login-form {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#login-form input[type="text"],
#login-form input[type="password"],
#login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#login-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
